@import './base.css';

@font-face {
  font-family: 'DINPro';
  src: url('/fonts/DINPro.ttf');
}

@font-face {
  font-family: 'EchoRevival';
  src: url('/fonts/19180.otf');
}

@font-face {
  font-family: 'stsev851-78';
  src: url('/fonts/stsev851-78.ttf');
}

#app {
  font-family: DINPro, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(236, 247, 90, 0.404);
  user-select: none;
}

.fill {
  width: 100%;
  height: 100%;
}

.base-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}

.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s ease-out;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateX(20%);
  opacity: 0;
}

.my-button {
  border-width: 1px;
  border-style: solid;
  border-color: #fb9d23;
  background: white;
  font-size: 100%;
  transition-duration: 0.5s;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 3px grey;
  min-width: 125px;
  padding: 8px 0;
  margin: 4px;
}

.my-button:hover {
  background: #fb9d23;
  color: white;
  box-shadow: none;
}

.region {
  fill: white;
  fill-opacity: 1;
  stroke: #000;
  stroke-width: 0.5;
  transition-duration: 1s;
}

.red-left {
  stop-color: red;
  stop-opacity: 0.4;
}

.red-right {
  stop-color: red;
  stop-opacity: 0.7;
}

.green-left {
  stop-color: green;
  stop-opacity: 0.4;
}

.green-right {
  stop-color: green;
  stop-opacity: 0.7;
}

.blue-left {
  stop-color: blue;
  stop-opacity: 0.4;
}

.blue-right {
  stop-color: blue;
  stop-opacity: 0.7;
}

.region.red {
  fill: url(#redGradient);
}

.region.green {
  fill: url(#greenGradient);
}

.region.blue {
  fill: url(#blueGradient);
}

.highlight-left {
  stop-color: chartreuse;
  stop-opacity: 0.4;
}

.highlight-right {
  stop-color: chartreuse;
  stop-opacity: 0.7;
}

.region.highlight {
  stroke: rgb(235, 195, 14);
  stroke-width: 4;
  fill: url(#highlightGradient);
}

/* .region:hover {
  cursor: pointer;
  fill: #afa;
  stroke: #faa;
  stroke-width: 4;
} */

.sea {
  fill: #c7eafb;
  fill-opacity: 1;
  stroke: #000;
  stroke-width: 0.5;
}

.state-border {
  fill: none;
  stroke: #a9a3a1;
  stroke-width: 4;
  stroke-linejoin: bevel;
  stroke-dasharray: 3.9918;
}

.geo-lines {
  fill: none;
  stroke: #00aeef;
  stroke-miterlimit: 10;
}

.map-frame {
  fill: none;
  stroke: #000000;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.flag {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  box-shadow: 1px 1px 3px black;
}

.usa {
  background-image: url('/img/usa.png');
  height: 22.7%;
}

.china {
  background-image: url('/img/—Åhina.png');
  height: 27%;
}

.japan {
  background-image: url('/img/japan.png');
  height: 27%;
}

.mongolia {
  background-image: url('/img/mongolia.png');
  height: 20.3%;
}

.estonia {
  background-image: url('/img/estonia.png');
  height: 26%;
}

.norway {
  background-image: url('/img/norway.png');
  height: 29.4%;
}

.kazakhstan {
  background-image: url('/img/kazakhstan.png');
  height: 20.3%;
}

.finland {
  background-image: url('/img/finland.png');
  height: 24.7%;
}

.north_korea {
  background-image: url('/img/north_korea.png');
  height: 20.3%;
}

.azerbaijan {
  background-image: url('/img/azerbaijan.png');
  height: 20.3%;
}

.belarus {
  background-image: url('/img/belarus.png');
  height: 20.3%;
}

.georgia {
  background-image: url('/img/georgia.png');
  height: 27%;
}

.poland {
  background-image: url('/img/poland.png');
  height: 25.3%;
}

.latvia {
  background-image: url('/img/latvia.png');
  height: 20.3%;
}

.south_ossetia {
  background-image: url('/img/south_ossetia.png');
  height: 20.3%;
}

.lithuania {
  background-image: url('/img/lithuania.png');
  height: 24.3%;
}

.abkhazia {
  background-image: url('/img/abkhazia.png');
  height: 20.3%;
}

.stop-left {
  stop-color: white;
  stop-opacity: 0.5;
}

.stop-center {
  stop-color: #aaf;
  stop-opacity: 0.5;
}

.stop-right {
  stop-color: #faa;
  stop-opacity: 0.5;
}

#RU {
  fill: url(#russiaGradient);
}
